RewriteEngine on

# Shield emberfox.online from hotlinking
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?emberfox\.online [NC]
RewriteRule \.(?:gif|png|jpg|jpeg|css|js)$ - [NC,F,L]

# Other .htaccess rules go here